/*** Everything ***/

body,html {
	background-color: #fff;
    font-family: "Andale Mono", "Lucida Console", "Courier New", monospace;
	font-weight: normal;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 16px;
}

#container {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 20px;
	background: #fff;
	padding: 16px 12px;
}

#topbar {
	border-bottom: 1px inset #AAA;
	display: table;
	width:100%;
}

#topbar > div {
    display: table-cell;
}

#name {
	padding-left:10px;
}

#name a {
	color: #000000;
	text-decoration: none;
}

#name a:hover, #name a:active, #name .current {
	color: #aa00aa;
	text-decoration: none;
}

#social {
	text-align:right;
	padding-right:20px;
}

#social ul {
	margin:0px;
}

#social_list li {
    display:inline;
	padding:0px;
}

#menucontainer {
	overflow: hidden;
}

#menucontainer ul, li { 
	margin: 0; 
	padding: 0; 
}

#menudiv {
	display: inline;
	margin-left: 12px;
	padding-top: 10px;
	float: left;
}

#menu ul {
	vertical-align: center;
}

#menu li {
	display: inline;
	margin-left: 0px;
}

#menu a {
	color: #000000;
	text-decoration: none;
}

#menu li a:hover, #menu li a:active, #menu li .current {
	color: #aa00aa;
	text-decoration: none;
}

#menu li .current {
	font-size: 18px;
	pointer-events: none;
   	cursor: default;
}

/*** works nav bar***/

#filters {
	padding-left: 56px;
	padding-bottom: 8px;
}

#filters li {
	display: inline;
	padding-right: 8px;
}

#filters a {
	color: #000000 !important;
	text-decoration: none !important;
}
#filters li a:hover, #filters li a.selected { 
	color: #aa00aa !important;
	text-decoration: none !important;
}

#filters li a.selected {
	font-size: 22px;
}

/*** Works list ***/

.item {
	border: 1px solid #aaa;
	padding: 1px;
	width: 324px;
	height: 240px;
	margin: 3px;
	background: #fff;
	display: inline;
	
	/** for caption **/
	overflow:hidden;
	position:relative;
	float:left;
}

/**** Caption *****/
.item .caption {
	width:324px;
	height:242px;
	background:#000;
	color:#fff;
	font-weight:bold;
	padding:12px;
	    
    position:absolute;	/* fix it at the bottom */
    left:0;
	top:-1px;
    display:none;  /* hide it by default */
 
    /* opacity setting */
    filter:alpha(opacity=7);    /* ie  */
    -moz-opacity:0.7;    /* old mozilla browser like netscape  */
    -khtml-opacity: 0.7;    /* for really really old safari */ 
    opacity: 0.7;    /* css standard, currently it works in most modern browsers like firefox,  */ 
}

.item .caption .caption_title {
	font-size:20px;
}
.item .caption .caption_meta {
	font-size:14px;
	margin-top:8px;
}
.item .caption .caption_description {
	width:95%;
	margin-top:24px;
/*	background-color:#a0a;*/
}

#works img {
    border:0;
    position:absolute;		/* allow javascript moves the img position*/
}
 
.clear {
    clear:both; 
}


/*** About page ***/
#findgene {
	margin-left:10px;
}

#findgene a {
	color: #000000 !important;
	text-decoration: none;
}

#findgene li {
	list-style: none;
	padding: 10px;
}

#findgene li a:hover {
	color: #aa00aa !important;
	text-decoration: none;
}
